<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Author.name }}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link rel="icon" type="image/png" href="{{ .Site.Params.icon }}">
	<link rel="apple-touch-icon" href="{{ .Site.Params.icon }}">
</head>

<style>
{{ with resources.Get "style.scss" | resources.ToCSS }}
{{ .Content | safeCSS}}
{{ end }}
</style>

<body>
	<div style="max-width:512px;width:100%;text-align:center">
		<div style="width:100%;aspect-ratio:1;border:solid 1px black">
			<div class="row">
				<div class="cell" id="c0"><input inputmode="numeric" id="i0"/></div>
				<div class="cell" id="c1"><input inputmode="numeric" id="i1"/></div>
				<div class="cell" id="c2"><input inputmode="numeric" id="i2"/></div>
				<div class="cell" id="c3"><input inputmode="numeric" id="i3"/></div>
				<div class="cell" id="c4"><input inputmode="numeric" id="i4"/></div>
				<div class="cell" id="c5"><input inputmode="numeric" id="i5"/></div>
				<div class="cell" id="c6"><input inputmode="numeric" id="i6"/></div>
				<div class="cell" id="c7"><input inputmode="numeric" id="i7"/></div>
				<div class="cell" id="c8"><input inputmode="numeric" id="i8"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c9"><input inputmode="numeric" id="i9"/></div>
				<div class="cell" id="c10"><input inputmode="numeric" id="i10"/></div>
				<div class="cell" id="c11"><input inputmode="numeric" id="i11"/></div>
				<div class="cell" id="c12"><input inputmode="numeric" id="i12"/></div>
				<div class="cell" id="c13"><input inputmode="numeric" id="i13"/></div>
				<div class="cell" id="c14"><input inputmode="numeric" id="i14"/></div>
				<div class="cell" id="c15"><input inputmode="numeric" id="i15"/></div>
				<div class="cell" id="c16"><input inputmode="numeric" id="i16"/></div>
				<div class="cell" id="c17"><input inputmode="numeric" id="i17"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c18"><input inputmode="numeric" id="i18"/></div>
				<div class="cell" id="c19"><input inputmode="numeric" id="i19"/></div>
				<div class="cell" id="c20"><input inputmode="numeric" id="i20"/></div>
				<div class="cell" id="c21"><input inputmode="numeric" id="i21"/></div>
				<div class="cell" id="c22"><input inputmode="numeric" id="i22"/></div>
				<div class="cell" id="c23"><input inputmode="numeric" id="i23"/></div>
				<div class="cell" id="c24"><input inputmode="numeric" id="i24"/></div>
				<div class="cell" id="c25"><input inputmode="numeric" id="i25"/></div>
				<div class="cell" id="c26"><input inputmode="numeric" id="i26"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c27"><input inputmode="numeric" id="i27"/></div>
				<div class="cell" id="c28"><input inputmode="numeric" id="i28"/></div>
				<div class="cell" id="c29"><input inputmode="numeric" id="i29"/></div>
				<div class="cell" id="c30"><input inputmode="numeric" id="i30"/></div>
				<div class="cell" id="c31"><input inputmode="numeric" id="i31"/></div>
				<div class="cell" id="c32"><input inputmode="numeric" id="i32"/></div>
				<div class="cell" id="c33"><input inputmode="numeric" id="i33"/></div>
				<div class="cell" id="c34"><input inputmode="numeric" id="i34"/></div>
				<div class="cell" id="c35"><input inputmode="numeric" id="i35"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c36"><input inputmode="numeric" id="i36"/></div>
				<div class="cell" id="c37"><input inputmode="numeric" id="i37"/></div>
				<div class="cell" id="c38"><input inputmode="numeric" id="i38"/></div>
				<div class="cell" id="c39"><input inputmode="numeric" id="i39"/></div>
				<div class="cell" id="c40"><input inputmode="numeric" id="i40"/></div>
				<div class="cell" id="c41"><input inputmode="numeric" id="i41"/></div>
				<div class="cell" id="c42"><input inputmode="numeric" id="i42"/></div>
				<div class="cell" id="c43"><input inputmode="numeric" id="i43"/></div>
				<div class="cell" id="c44"><input inputmode="numeric" id="i44"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c45"><input inputmode="numeric" id="i45"/></div>
				<div class="cell" id="c46"><input inputmode="numeric" id="i46"/></div>
				<div class="cell" id="c47"><input inputmode="numeric" id="i47"/></div>
				<div class="cell" id="c48"><input inputmode="numeric" id="i48"/></div>
				<div class="cell" id="c49"><input inputmode="numeric" id="i49"/></div>
				<div class="cell" id="c50"><input inputmode="numeric" id="i50"/></div>
				<div class="cell" id="c51"><input inputmode="numeric" id="i51"/></div>
				<div class="cell" id="c52"><input inputmode="numeric" id="i52"/></div>
				<div class="cell" id="c53"><input inputmode="numeric" id="i53"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c54"><input inputmode="numeric" id="i54"/></div>
				<div class="cell" id="c55"><input inputmode="numeric" id="i55"/></div>
				<div class="cell" id="c56"><input inputmode="numeric" id="i56"/></div>
				<div class="cell" id="c57"><input inputmode="numeric" id="i57"/></div>
				<div class="cell" id="c58"><input inputmode="numeric" id="i58"/></div>
				<div class="cell" id="c59"><input inputmode="numeric" id="i59"/></div>
				<div class="cell" id="c60"><input inputmode="numeric" id="i60"/></div>
				<div class="cell" id="c61"><input inputmode="numeric" id="i61"/></div>
				<div class="cell" id="c62"><input inputmode="numeric" id="i62"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c63"><input inputmode="numeric" id="i63"/></div>
				<div class="cell" id="c64"><input inputmode="numeric" id="i64"/></div>
				<div class="cell" id="c65"><input inputmode="numeric" id="i65"/></div>
				<div class="cell" id="c66"><input inputmode="numeric" id="i66"/></div>
				<div class="cell" id="c67"><input inputmode="numeric" id="i67"/></div>
				<div class="cell" id="c68"><input inputmode="numeric" id="i68"/></div>
				<div class="cell" id="c69"><input inputmode="numeric" id="i69"/></div>
				<div class="cell" id="c70"><input inputmode="numeric" id="i70"/></div>
				<div class="cell" id="c71"><input inputmode="numeric" id="i71"/></div>
			</div>
			<div class="row">
				<div class="cell" id="c72"><input inputmode="numeric" id="i72"/></div>
				<div class="cell" id="c73"><input inputmode="numeric" id="i73"/></div>
				<div class="cell" id="c74"><input inputmode="numeric" id="i74"/></div>
				<div class="cell" id="c75"><input inputmode="numeric" id="i75"/></div>
				<div class="cell" id="c76"><input inputmode="numeric" id="i76"/></div>
				<div class="cell" id="c77"><input inputmode="numeric" id="i77"/></div>
				<div class="cell" id="c78"><input inputmode="numeric" id="i78"/></div>
				<div class="cell" id="c79"><input inputmode="numeric" id="i79"/></div>
				<div class="cell" id="c80"><input inputmode="numeric" id="i80"/></div>
			</div>
		</div>
		<button id="btn">Round-Robin</button>
	</div>
</body>

<script>{{
		$js := resources.Get "script.ts" | js.Build (
			dict "externals" (slice "./pkg/number_place_wasm.js")
		) | minify
	}}{{ $js.Content | safeJS }}</script>

</html>
