<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Params.author }}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link rel="icon" type="image/png" href="{{ .Site.Params.icon }}">
	<link rel="apple-touch-icon" href="{{ .Site.Params.icon }}">
</head>

<style>
{{ with resources.Get "style.scss" | resources.ToCSS }}
{{ .Content | safeCSS}}
{{ end }}
</style>

<body>
	<div id=main>
		<noscript>Please enable Javascript.</noscript>
	</div>
</body>

{{
		$js := resources.Get "script.ts" | js.Build (
			dict "externals" (slice "./pkg/number_place_wasm.js")
		) | minify
}}
<script>{{ $js.Content | safeJS }}</script>

</html>
