$cellsize: calc( 100% / 9 );

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border: solid 0;
}

html {
	font-size: 200%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	font-weight: 400;
	overflow: hidden;
}

body {
	margin: 0;
	color: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

input {
	color: inherit;
	background-color: transparent;
	text-align: center;
	outline: none;
	margin: 0;
	height: 100%;
	width: 100%;
	font: inherit;
	font-size: .5em;
}

#main {
	max-width:512px;
	width:100%;
	text-align:center
}

.r {
	display: flex;
	height: $cellsize;
	width: 100%;
	aspect-ratio: 10;
}

.c {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $cellsize;
	border: solid 1px black;
}
