*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border: solid 0;
}

html {
	font-size: 200%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	font-weight: 400;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #222;
	margin: 0;
	height: 100vh;
	height: 100dvh;
	max-width: 100%;
}

input {
	color: inherit;
	background-color: transparent;
	text-align: center;
	outline: none;
	margin: 0;
	height: 100%;
	width: 100%;
	font: inherit;
	font-size: .5em;
}

.row {
	display: flex;
	height: 11.1111%;
	width: 100%;
	aspect-ratio: 10;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11.1111%;
	border: solid 1px black;
}
